.avatar {
  max-width: 140px;
  max-height: 140px;
}

.search-page {
  margin: 10px;
}

div.no-margin {
  margin-left: 0;
  padding-left: 0;
}

.custom-header-size {
  height: 40px;
  padding-bottom: 10px;
}

.stick-to-input {
  max-height: 38px;
}
